.body-container {
  color: black;
  overflow-y: scroll;

  .excel-table {
    border: solid 1px black;
    border-collapse: collapse;

    .header {
      font-weight: bold;
    }

    .cell {
      border: solid 1px gray;
    }
  }
}
